.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: black;
  color: white;
}

form{
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
  
}

form input{
  flex-basis: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
}

form button{
  flex-basis: 20%; 
  border: 1px solid gray;
  border-radius: 5px;
}

.outerDiv{
  width: 1170px;
  margin: auto;
}

.outerDiv ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 20px;
 
}

.outerDiv ul li{
  color: black;
  background-color: white;
  margin-bottom: 10px;
  text-align: left;
  font-size: 25px;
  position: relative; 
}

.outerDiv ul li span{
right: 190px;
position: fixed;
color: black;
cursor: pointer;
padding: auto;
}

button{
  font-size: 25px;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 5px solid white;
  border-radius: 10px;
}

.edit{
  right: 250px;
  position: fixed;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: auto;
  border-radius: 5px;
  
}